In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mock-competition-2-ai-funaab/sample_submission.csv
/kaggle/input/mock-competition-2-ai-funaab/test.csv
/kaggle/input/mock-competition-2-ai-funaab/train.csv
/kaggle/input/mock-competition-2-ai-funaab/VariableDescription.csv

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
train =pd.read_csv('/kaggle/input/mock-competition-2-ai-funaab/train.csv',parse_dates=['YearOfObservation'],)
train.set_index('Customer Id', inplace=True)
train.head()

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
Customer Id,,,,,,,,,,,,,
H3793,2013-01-01,1.000000,0,V,N,O,R,900.0,1,1981.0,3,15014,1
H18227,2012-01-01,0.915301,0,V,N,O,R,1672.0,1,1983.0,4,36044,1
H13985,2016-01-01,1.000000,0,N,V,V,U,420.0,2,1988.0,.,13001,0
H17669,2013-01-01,1.000000,0,V,N,O,R,1956.0,2,1960.0,4,83009,1
H4156,2012-01-01,1.000000,0,V,V,V,U,800.0,1,1960.0,.,91174,0

In [4]:
test =pd.read_csv('/kaggle/input/mock-competition-2-ai-funaab/test.csv',parse_dates=['YearOfObservation'],)

test.set_index('Customer Id', inplace=True)
test.head()

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
Customer Id,,,,,,,,,,,,
H18966,2012-01-01,0.259563,0,V,N,O,R,1425.0,2,1950.0,7,13205
H16694,2016-01-01,0.997268,0,V,N,O,R,1264.0,3,1980.0,5,93048
H18661,2013-01-01,1.000000,0,V,N,O,R,2600.0,2,1962.0,4,30133
H18872,2013-01-01,1.000000,1,V,N,O,R,1015.0,3,1920.0,5,92012
H18032,2014-01-01,1.000000,1,V,N,O,R,15620.0,3,1978.0,>=10,59350

In [5]:
sample =pd.read_csv('/kaggle/input/mock-competition-2-ai-funaab/sample_submission.csv')
sample.head(2)

  Customer Id  Claim
0      H18966      1
1      H16694      0

In [6]:
obj_df = train.select_dtypes(include=['object'])
obj_df.head()

,Building_Painted,Building_Fenced,Garden,Settlement,NumberOfWindows,Geo_Code
Customer Id,,,,,,
H3793,V,N,O,R,3,15014
H18227,V,N,O,R,4,36044
H13985,N,V,V,U,.,13001
H17669,V,N,O,R,4,83009
H4156,V,V,V,U,.,91174

In [7]:
cat_df = test.select_dtypes(include=['object'])

In [8]:
obj_df[obj_df.isnull().any(axis=1)]

,Building_Painted,Building_Fenced,Garden,Settlement,NumberOfWindows,Geo_Code
Customer Id,,,,,,
H16605,V,V,V,U,.,NaN
H15115,V,V,V,U,.,NaN
H19266,V,V,V,U,.,NaN
H18878,V,V,V,U,.,NaN
H3915,V,N,NaN,R,4,73015
...,...,...,...,...,...,...
H15876,V,V,V,U,.,NaN
H16496,V,V,V,U,.,NaN
H4372,V,V,V,U,.,NaN
H18382,V,V,V,U,.,NaN
H15365,V,V,V,U,.,NaN

In [9]:
cat_df[cat_df.isnull().any(axis=1)]

,Building_Painted,Building_Fenced,Garden,Settlement,NumberOfWindows,Geo_Code
Customer Id,,,,,,
H17510,V,V,V,U,.,NaN
H6204,V,V,V,U,.,NaN
H3238,V,V,V,U,.,NaN
H19156,V,V,V,U,.,NaN
H1571,V,N,NaN,R,5,74173
H19055,V,V,V,U,.,NaN
H13531,V,V,V,U,.,NaN
H17241,V,V,V,U,.,NaN
H16606,V,V,V,U,.,NaN
H5078,V,V,V,U,.,NaN
H17846,V,V,V,U,.,NaN
H16984,V,V,V,U,.,NaN
H48,V,V,V,U,.,NaN
H15366,V,V,V,U,.,NaN
H19098,V,N,NaN,R,3,33069
H5142,V,V,V,U,.,NaN
H6537,V,V,V,U,.,NaN
H5290,V,V,V,U,.,NaN
H18228,V,V,V,U,.,NaN
H15828,V,V,V,U,.,NaN
H16661,V,V,V,U,.,NaN
H16670,V,V,V,U,.,NaN
H16250,V,V,V,U,.,NaN
H15853,V,V,V,U,.,NaN
H17650,V,V,V,U,.,NaN
H17448,V,V,V,U,.,NaN
H18374,V,V,V,U,.,NaN
H18376,V,V,V,U,.,NaN
H14867,V,V,V,U,.,NaN
H5796,V,N,NaN,R,3,74173
H15568,V,V,V,U,.,NaN
H17230,V,V,V,U,.,NaN
H17621,V,V,V,U,.,NaN
H19598,V,V,V,U,.,NaN
H18378,V,V,V,U,.,NaN
H15202,V,V,V,U,.,NaN

In [10]:
cat_df["NumberOfWindows"].value_counts()

   .    1053
4        292
3        254
5        194
2        123
6         90
7         52
8         34
1         22
>=10      21
9         13
Name: NumberOfWindows, dtype: int64

In [11]:
cat_df["Geo_Code"].value_counts()

6083     43
33063    42
6088     38
31555    31
92004    29
         ..
38140     1
95060     1
40209     1
90104     1
67169     1
Name: Geo_Code, Length: 710, dtype: int64

In [12]:
obj_df["NumberOfWindows"].value_counts()

   .    2498
4        647
3        590
5        445
2        240
6        216
7        159
8         82
1         53
>=10      46
9         36
Name: NumberOfWindows, dtype: int64

In [13]:
train.dtypes

YearOfObservation     datetime64[ns]
Insured_Period               float64
Residential                    int64
Building_Painted              object
Building_Fenced               object
Garden                        object
Settlement                    object
Building Dimension           float64
Building_Type                  int64
Date_of_Occupancy            float64
NumberOfWindows               object
Geo_Code                      object
Claim                          int64
dtype: object

In [14]:
list(set(obj_df.Geo_Code.unique()))

[nan,
 '17461',
 '30007',
 '59482',
 '64237',
 '42005',
 '75118',
 '30351',
 '62571',
 '59025',
 '34023',
 '13096',
 '94069',
 '34037',
 '22113',
 '73006',
 '13031',
 '74293',
 '77053',
 '74016',
 '63284',
 '78481',
 '64129',
 '68271',
 '74133',
 '78513',
 '74189',
 '74264',
 '77487',
 '74099',
 '66124',
 '88516',
 '81004',
 '6073',
 '91469',
 '92050',
 '88075',
 '2B042',
 '30341',
 '9301',
 '83036',
 '54482',
 '25388',
 '64122',
 '31446',
 '64024',
 '38151',
 '69243',
 '33522',
 '42110',
 '16292',
 '6069',
 '57663',
 '74224',
 '68161',
 '95598',
 '73176',
 '68126',
 '91386',
 '67948',
 '67218',
 '91215',
 '60346',
 '68297',
 '38138',
 '69052',
 '68013',
 '82112',
 '33366',
 '64189',
 '30133',
 '61001',
 '90008',
 '91223',
 '73179',
 '42183',
 '42222',
 '14117',
 '94068',
 '77152',
 '54321',
 '93046',
 '40209',
 '6036',
 '64160',
 '2A004',
 '84129',
 '13063',
 '6128',
 '92073',
 '38185',
 '13202',
 '76231',
 '69297',
 '91027',
 '30003',
 '47069',
 '45234',
 '34113',
 '90075',
 '35284',
 '27056',
 '91272',
 '14366',
 '68004',
 '13002',
 '69250',
 '13047',
 '95539',
 '93047',
 '77108',
 '35299',
 '45282',
 '21515',
 '93055',
 '64417',
 '39300',
 '62041',
 '66025',
 '13007',
 '57017',
 '58095',
 '57160',
 '75112',
 '14341',
 '1053',
 '40279',
 '38412',
 '66072',
 '92078',
 '17291',
 '38315',
 '56260',
 '30131',
 '64102',
 '78383',
 '84054',
 '56121',
 '11170',
 '91044',
 '6163',
 '34902',
 '64483',
 '77018',
 '68021',
 '19031',
 '31395',
 '77258',
 '38126',
 '29124',
 '76259',
 '91228',
 '92064',
 '65017',
 '94016',
 '71378',
 '6085',
 '83090',
 '67482',
 '59178',
 '82033',
 '73303',
 '93005',
 '63430',
 '73248',
 '67130',
 '83092',
 '57433',
 '36044',
 '6155',
 '29185',
 '31187',
 '34120',
 '28134',
 '42011',
 '29239',
 '77183',
 '62108',
 '68278',
 '38545',
 '69241',
 '38269',
 '85194',
 '21171',
 '95219',
 '2059',
 '93071',
 '57283',
 '31203',
 '42186',
 '34003',
 '10387',
 '49007',
 '13102',
 '26347',
 '77407',
 '17297',
 '31561',
 '43051',
 '76681',
 '45285',
 '88492',
 '78354',
 '95607',
 '38229',
 '83153',
 '63113',
 '69381',
 '69264',
 '14437',
 '6004',
 '56034',
 '42094',
 '93061',
 '69294',
 '56052',
 '13001',
 '44194',
 '83144',
 '38442',
 '21166',
 '89291',
 '59431',
 '67261',
 '74040',
 '7349',
 '13904',
 '93077',
 '9261',
 '74190',
 '66171',
 '57480',
 '5168',
 '81060',
 '13028',
 '95051',
 '69072',
 '91174',
 '62201',
 '68120',
 '74276',
 '88408',
 '66048',
 '28218',
 '30334',
 '5023',
 '17306',
 '59508',
 '26058',
 '73920',
 '68154',
 '38421',
 '56107',
 '68166',
 '38559',
 '38001',
 '13100',
 '72181',
 '6121',
 '14365',
 '31149',
 '83098',
 '95426',
 '82121',
 '42305',
 '74087',
 '33550',
 '39198',
 '77083',
 '44036',
 '34079',
 '78638',
 '3310',
 '6901',
 '77058',
 '95582',
 '38563',
 '77350',
 '76235',
 '12176',
 '92014',
 '13203',
 '92024',
 '77169',
 '11266',
 '93063',
 '78423',
 '64348',
 '6030',
 '69094',
 '83933',
 '6029',
 '25237',
 '57306',
 '17274',
 '73103',
 '78208',
 '77215',
 '95127',
 '44154',
 '74243',
 '30028',
 '6906',
 '34088',
 '66130',
 '1160',
 '88196',
 '78361',
 '36063',
 '94058',
 '69382',
 '93006',
 '47004',
 '59650',
 '93051',
 '74104',
 '67204',
 '75120',
 '22379',
 '38317',
 '10343',
 '95042',
 '34301',
 '29151',
 '60338',
 '56078',
 '21231',
 '33281',
 '67434',
 '83048',
 '38565',
 '69386',
 '77268',
 '5110',
 '69290',
 '13019',
 '91292',
 '17299',
 '2B033',
 '84137',
 '3190',
 '59107',
 '74258',
 '28140',
 '68138',
 '94080',
 '83019',
 '4112',
 '69034',
 '42097',
 '95197',
 '28085',
 '50147',
 '15187',
 '18033',
 '64256',
 '38034',
 '11069',
 '24037',
 '91692',
 '13039',
 '6079',
 '54273',
 '11441',
 '77468',
 '54304',
 '95203',
 '69244',
 '42330',
 '44926',
 '13087',
 '6067',
 '90041',
 '30125',
 '93001',
 '59560',
 '66182',
 '31555',
 '5177',
 '94078',
 '91477',
 '21278',
 '26362',
 '39470',
 '25147',
 '83042',
 '38239',
 '57412',
 '54329',
 '13211',
 '40046',
 '22186',
 '13005',
 '91679',
 '15014',
 '5085',
 '22282',
 '94018',
 '6077',
 '19272',
 '78297',
 '92004',
 '65388',
 '94044',
 '43002',
 '83034',
 '78688',
 '91573',
 '74161',
 '64453',
 '67268',
 '77131',
 '69091',
 '68149',
 '75116',
 '92062',
 '57631',
 '77284',
 '77088',
 '69136',
 '74083',
 '54323',
 '38485',
 '67152',
 '91182',
 '44015',
 '62917',
 '29233',
 '62899',
 '6027',
 '29232',
 '75107',
 '6123',
 '26114',
 '90039',
 '6012',
 '6088',
 '63070',
 '54547',
 '74137',
 '63300',
 '92040',
 '91511',
 '74173',
 '14220',
 '74305',
 '7186',
 '93059',
 '74266',
 '51030',
 '62826',
 '21575',
 '28088',
 '33143',
 '64445',
 '92046',
 '6089',
 '74010',
 '51108',
 '94033',
 '6153',
 '38318',
 '69238',
 '77186',
 '59599',
 '7324',
 '33200',
 '13078',
 '4094',
 '21054',
 '74279',
 '21540',
 '74012',
 '29058',
 '33063',
 '38075',
 '78418',
 '13041',
 '68249',
 '6161',
 '85060',
 '69201',
 '59512',
 '73054',
 '34172',
 '5077',
 '43157',
 '38314',
 '37214',
 '92019',
 '11262',
 '4197',
 '38486',
 '75103',
 '19123',
 '66119',
 '38416',
 '5133',
 '57606',
 '35238',
 '14079',
 '95585',
 '40088',
 '94019',
 '66004',
 '73222',
 '6007',
 '74042',
 '69275',
 '25356',
 '27355',
 '93033',
 '80182',
 '63470',
 '60139',
 '67447',
 '95306',
 '74268',
 '7010',
 '38538',
 '10081',
 '92044',
 '33529',
 '74018',
 '74220',
 '91097',
 '78551',
 '93015',
 '75110',
 '88383',
 '74208',
 '13066',
 '94015',
 '78646',
 '74256',
 '89024',
 '69069',
 '76217',
 '69202',
 '77285',
 '42332',
 '77449',
 '74105',
 '13026',
 '38247',
 '12096',
 '60612',
 '88465',
 '6152',
 '22054',
 '54159',
 '78220',
 '83119',
 '73065',
 '94073',
 '3095',
 '76540',
 '42279',
 '74093',
 '42147',
 '13056',
 '38057',
 '6048',
 '44190',
 '40184',
 '31417',
 '73257',
 '69389',
 '91377',
 '59279',
 '93027',
 '78372',
 '77464',
 '11910',
 '81220',
 '64422',
 '54439',
 '1143',
 '95394',
 '66196',
 '38205',
 '83126',
 '92036',
 '74058',
 '86137',
 '33192',
 '93031',
 '13042',
 '74236',
 '93029',
 '78490',
 '74014',
 '10362',
 '59367',
 '88531',
 '91421',
 '29039',
 '38400',
 '67414',
 '38516',
 '92071',
 '16015',
 '42218',
 '77243',
 '22094',
 '76655',
 '38316',
 '59328',
 '45155',
 '88160',
 '84007',
 '6083',
 '6150',
 '66148',
 '56181',
 '38006',
 '69266',
 '69256',
 '14327',
 '54188',
 '78015',
 '22215',
 '92032',
 '33236',
 '2408',
 '6159',
 '39097',
 '13054',
 '74143',
 '74043',
 '71543',
 '13106',
 '67194',
 '66065',
 '12174',
 '64249',
 '74033',
 '63308',
 '57757',
 '94034',
 '63032',
 '33011',
 '93070',
 '92075',
 '59426',
 '93049',
 '66164',
 '35236',
 '94017',
 '33069',
 '63075',
 '47323',
 '6138',
 '74085',
 '30032',
 '77192',
 '59340',
 '69260',
 '63014',
 '13215',
 '74278',
 '4070',
 '59043',
 '66147',
 '69387',
 '29019',
 '87106',
 '73296',
 '87085',
 '13216',
 '59183',
 '59355',
 '75104',
 '38294',
 '13103',
 '57463',
 '13097',
 '60450',
 '22050',
 '38548',
 '73186',
 '60141',
 '2B353',
 '83065',
 '50218',
 '62516',
 '62300',
 '42187',
 '83923',
 '46176',
 '77305',
 '25197',
 '46042',
 '77296',
 '74070',
 '68056',
 '13020',
 '6094',
 '54043',
 '92002',
 '33003',
 '76255',
 '6070',
 '64407',
 '77379',
 '57672',
 '94067',
 '44020',
 '69388',
 '67010',
 '73015',
 '44131',
 '26198',
 '31157',
 '13204',
 '7281',
 '42285',
 '1173',
 '2B050',
 '60159',
 '94046',
 '42123',
 '90010',
 '59350',
 '17300',
 '83086',
 '93066',
 '78586',
 '69259',
 '38163',
 '76351',
 '83081',
 '75113',
 '69385',
 '13212',
 '75114',
 '69029',
 '1283',
 '42119',
 '90093',
 '74063',
 '26281',
 '13207',
 '95210',
 '42275',
 '61006',
 '74119',
 '38930',
 '25056',
 '38179',
 '94003',
 '83009',
 '59368',
 '13117',
 '75108',
 '91326',
 '42071',
 '94041',
 '77431',
 '42149',
 '38133',
 '35024',
 '60057',
 '17094',
 '75111',
 '95183',
 '23096',
 '93064',
 '35093',
 '86041',
 '34028',
 '74140',
 '34192',
 '83118',
 '64430',
 '91161',
 '12145',
 '94081',
 '34032',
 '31186',
 '94038',
 '38095',
 '31282',
 '13119',
 '69149',
 '83123',
 '6011',
 '62643',
 '13027',
 '73099',
 '75119',
 '5004',
 '83050',
 '74270',
 '68224',
 '73029',
 '91064',
 '63103',
 '95563',
 '73304',
 '29105',
 '69383',
 '38140',
 '83047',
 '94004',
 '92072',
 '78124',
 '38052',
 '68362',
 '92035',
 '1305',
 '6157',
 '44003',
 '21295',
 '74169',
 '16102',
 '92023',
 '34324',
 '77514',
 '13104',
 '68067',
 '95428',
 '38408',
 '41018',
 '81163',
 '74225',
 '83137',
 '73132',
 '74281',
 '83129',
 '60172',
 '78242',
 '93062',
 '12208',
 '69282',
 '93010',
 '38085',
 '92025',
 '92012',
 '35288',
 '62160',
 '83112',
 '38507',
 '93078',
 '78190',
 '91657',
 '73003',
 '93048',
 '84089',
 '14338',
 '73021',
 '80688',
 '93045',
 '13209',
 '92026',
 '82173',
 '31069',
 '6033',
 '74180',
 '38337',
 '42207',
 '13045',
 '13030',
 '50626',
 '30011',
 '73008',
 '44204',
 '44109',
 '62916',
 '78311',
 '12300',
 '43137',
 '11202',
 '94002',
 '76552',
 '13206',
 '62645',
 '78545',
 '31506',
 '57209',
 '38386',
 '2A247',
 '6032',
 '77333',
 '59295',
 '94037',
 '91201',
 '59421',
 '33199',
 '94043',
 '6014',
 '38158',
 '44162',
 '65440',
 '92049',
 '1419',
 '62119',
 '33096',
 '95424',
 '57430',
 '73128',
 '77371',
 '88351',
 '72132',
 '30276',
 '59656',
 '9029',
 '94022',
 '13022',
 '29103',
 '7102',
 '29259',
 '83071',
 '83069',
 '6104',
 '78517',
 '30189',
 '92051',
 '42304',
 '74298',
 '93032',
 '94071',
 '89069',
 '75102',
 '37261',
 '59410',
 '31113',
 '50532',
 '75105',
 '57227',
 '67180',
 '92020',
 '44184',
 '74290',
 '65282',
 '95500',
 '66037',
 '91286',
 '14047',
 '42302',
 '78640',
 '6035',
 '5061',
 '77372',
 '73116',
 '35049',
 '29046',
 '13205',
 '6149',
 '86062',
 '83017',
 '95252',
 '66136',
 '92048',
 '84087',
 '59378',
 '74215',
 '5145',
 '66172',
 '88413',
 '57143',
 '16374',
 '78650',
 '62193',
 '95052',
 '5026',
 '34259',
 '83115',
 '5052',
 '83062',
 '13086',
 '95176',
 '9122',
 '36046',
 '38547',
 '8409',
 '75106',
 '75109',
 '91390',
 '75101',
 '6120',
 '38511',
 '54197',
 '38931',
 '42095',
 '54431',
 '33318',
 '26057',
 '21292',
 '21617',
 '77294',
 '13021',
 '80228',
 '86066',
 '14701',
 '91376',
 '54184',
 '74011',
 '74238',
 '83107',
 ...]

'2A090''2A004''2A247''2B033'

In [45]:
obj_df = obj_df.fillna({"Garden": 0})

In [46]:
cat_df = cat_df.fillna({"Garden": 0})

In [47]:
obj_df["Garden"].unique()

array(['O', 'V'], dtype=object)

In [48]:
obj["Garden"].value_counts()

0    2514
1    2498
Name: Garden, dtype: int64

In [19]:
obj_df["Geo_Code"].value_counts()

6088     105
33063     95
13206     76
6083      70
63113     63
        ...
95203      1
38006      1
56181      1
22094      1
17461      1
Name: Geo_Code, Length: 1127, dtype: int64

In [20]:
obj_df["Geo_Code"].value_counts()

6088     105
33063     95
13206     76
6083      70
63113     63
        ...
95203      1
38006      1
56181      1
22094      1
17461      1
Name: Geo_Code, Length: 1127, dtype: int64

In [21]:
obj_df["Geo_Code"].value_counts()

6088     105
33063     95
13206     76
6083      70
63113     63
        ...
95203      1
38006      1
56181      1
22094      1
17461      1
Name: Geo_Code, Length: 1127, dtype: int64

In [22]:
obj_df = obj_df.fillna({"Geo_Code": "6088"})

In [23]:
cat_df = cat_df.fillna({"Geo_Code": "6088"})

In [25]:
obj=obj_df.drop(['Geo_Code'],axis=1)

In [26]:
cat=cat_df.drop(['Geo_Code'],axis=1)

In [27]:
nums = {
                "Building_Painted": {"V": 1,"N": 0},
                 'Building_Fenced':{'V':1,'N':0},
                   'Garden':{'V':1,'O':0,'<':0},
               'Settlement':{'U':1,'R':0 },
               'NumberOfWindows':{'   .': -999,">=10":10}}

In [28]:
obj.replace(nums, inplace=True)
obj.head()

,Building_Painted,Building_Fenced,Garden,Settlement,NumberOfWindows
Customer Id,,,,,
H3793,1,0,0,0,3
H18227,1,0,0,0,4
H13985,0,1,1,1,-999
H17669,1,0,0,0,4
H4156,1,1,1,1,-999

In [29]:
cat.replace(nums, inplace=True)
cat.head()

,Building_Painted,Building_Fenced,Garden,Settlement,NumberOfWindows
Customer Id,,,,,
H18966,1,0,0,0,7
H16694,1,0,0,0,5
H18661,1,0,0,0,4
H18872,1,0,0,0,5
H18032,1,0,0,0,10

In [30]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train['Building_Painted']= le.fit_transform(train['Building_Painted'])
train['Building_Fenced']= le.fit_transform(train['Building_Fenced'])
train['Settlement']= le.fit_transform(train['Settlement'])
train['NumberOfWindows']=le.fit_transform(train['NumberOfWindows'])

In [33]:
test['Building_Painted']= le.fit_transform(test['Building_Painted'])
test['Building_Fenced']= le.fit_transform(test['Building_Fenced'])
test['Settlement']= le.fit_transform(test['Settlement'])
test['NumberOfWindows']=le.fit_transform(test['NumberOfWindows'])

In [49]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5012 entries, H3793 to H1576
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   5012 non-null   int64
 1   Insured_Period      5012 non-null   float64
 2   Residential         5012 non-null   int64
 3   Building_Painted    5012 non-null   int64
 4   Building_Fenced     5012 non-null   int64
 5   Garden              5008 non-null   object
 6   Settlement          5012 non-null   int64
 7   Building Dimension  5012 non-null   float64
 8   Building_Type       5012 non-null   int64
 9   Date_of_Occupancy   5012 non-null   int64
 10  NumberOfWindows     5012 non-null   int64
 11  Geo_Code            4943 non-null   object
 12  Claim               5012 non-null   int64
dtypes: float64(2), int64(9), object(2)
memory usage: 548.2+ KB

In [31]:
obj.dtypes

Building_Painted     int64
Building_Fenced      int64
Garden               int64
Settlement           int64
NumberOfWindows     object
dtype: object

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5012 entries, H3793 to H1576
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   5012 non-null   int64
 1   Insured_Period      5012 non-null   float64
 2   Residential         5012 non-null   int64
 3   Building_Painted    5012 non-null   int64
 4   Building_Fenced     5012 non-null   int64
 5   Garden              5008 non-null   object
 6   Settlement          5012 non-null   int64
 7   Building Dimension  4940 non-null   float64
 8   Building_Type       5012 non-null   int64
 9   Date_of_Occupancy   4661 non-null   float64
 10  NumberOfWindows     5012 non-null   int64
 11  Geo_Code            4943 non-null   object
 12  Claim               5012 non-null   int64
dtypes: float64(3), int64(8), object(2)
memory usage: 548.2+ KB

In [36]:
train['Building Dimension'] = train['Building Dimension'].fillna(-999)
train.Date_of_Occupancy = train.Date_of_Occupancy.fillna(1960)
train.Date_of_Occupancy = train.Date_of_Occupancy.astype('int64')
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5012 entries, H3793 to H1576
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   5012 non-null   int64
 1   Insured_Period      5012 non-null   float64
 2   Residential         5012 non-null   int64
 3   Building_Painted    5012 non-null   int64
 4   Building_Fenced     5012 non-null   int64
 5   Garden              5008 non-null   object
 6   Settlement          5012 non-null   int64
 7   Building Dimension  5012 non-null   float64
 8   Building_Type       5012 non-null   int64
 9   Date_of_Occupancy   5012 non-null   int64
 10  NumberOfWindows     5012 non-null   int64
 11  Geo_Code            4943 non-null   object
 12  Claim               5012 non-null   int64
dtypes: float64(2), int64(9), object(2)
memory usage: 548.2+ KB

In [37]:
train.isnull().sum()* 100/ len(train)

YearOfObservation     0.000000
Insured_Period        0.000000
Residential           0.000000
Building_Painted      0.000000
Building_Fenced       0.000000
Garden                0.079808
Settlement            0.000000
Building Dimension    0.000000
Building_Type         0.000000
Date_of_Occupancy     0.000000
NumberOfWindows       0.000000
Geo_Code              1.376696
Claim                 0.000000
dtype: float64

In [31]:
train['YearOfObservation'] = train.YearOfObservation.astype(int)

In [32]:
test['YearOfObservation'] = test.YearOfObservation.astype(int)

In [38]:
test['Building Dimension'] = test['Building Dimension'].fillna(-999)
test.Date_of_Occupancy = test.Date_of_Occupancy.fillna(1960)
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2148 entries, H18966 to H3759
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   2148 non-null   int64
 1   Insured_Period      2148 non-null   float64
 2   Residential         2148 non-null   int64
 3   Building_Painted    2148 non-null   int64
 4   Building_Fenced     2148 non-null   int64
 5   Garden              2145 non-null   object
 6   Settlement          2148 non-null   int64
 7   Building Dimension  2148 non-null   float64
 8   Building_Type       2148 non-null   int64
 9   Date_of_Occupancy   2148 non-null   float64
 10  NumberOfWindows     2148 non-null   int64
 11  Geo_Code            2115 non-null   object
dtypes: float64(3), int64(7), object(2)
memory usage: 218.2+ KB

In [37]:
test['Garden']=test.Garden.astype(str).astype(int)

ValueError: invalid literal for int() with base 10: 'O'

In [36]:
test['Garden']= le.fit_transform(test['Garden'])
train['Garden']= le.fit_transform(train['Garden'])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [39]:
X = train.drop(['Garden','Claim','Geo_Code'], axis=1)
y = train.Claim
test_df= test.drop(['Garden','Geo_Code'],axis=1)

In [ ]:
sklearn.linear_model.LogisticRegression
lr = LogisticRegression(C = 1,max_iter = 3000,class_weight = 'balanced',random_state=123)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
confusion_matrix(y_test,y_pred)

In [61]:
from rgf.sklearn import RGFClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.preprocessing import MinMaxScaler
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
clf = RandomForestClassifier(n_jobs=-1,random_state = 123)
cbt = CatBoostClassifier(verbose=False, thread_count=-1,random_state = 123)
rgf =RGFClassifier(verbose=False)
scale= MinMaxScaler()

model_classifiers= ('rgf',RGFClassifier( algorithm ='RGF_Sib',max_leaf =1000)),

In [66]:
model_classifiers=(('cbt',CatBoostClassifier(verbose=False, thread_count=-1,random_state = 123)),
                   ('rgf',RGFClassifier( algorithm ='RGF_Sib',max_leaf =1000)))

In [62]:
def model_score(model):
    train_roc = roc_auc_score(ytrain, model.predict(xtrain))
    test_roc = roc_auc_score(ytest, model.predict(xtest))
    print('Training data ROU_AUC score: {} \t Validation ROU_AUC_score: {}'.format(train_roc,test_roc))
    return test_roc

In [67]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=419)
scores,preds = [],[]
model= VotingClassifier(estimators= model_classifiers, voting='hard')
#the ensembled model is used to carry out the prediction probability with weights assignedto each algorithm to imcrease accuracy
j = 1
for train_split, test_split in skf.split(X, y):#Creating a cross validation for loop using StratifiedKFold
    pipe = Pipeline([('preprocessor', scale), ('model', model)])
    xtrain, xtest, ytrain, ytest = X.iloc[train_split], X.iloc[test_split], y.iloc[train_split], y.iloc[test_split]# splitting of the dataset for training and validation
    pipe.fit(xtrain, ytrain)
    print('Splits trained {}'.format(j))
    score = model_score(pipe)
    pred = pipe.predict(test)
    scores.append(score)
    preds.append(pred)
    j += 1
np.mean(scores)

TypeError: zip argument #2 must support iteration